@charset "utf-8";
:root{
    --cinzaClaro: rgb(218, 218, 218);
    --preto: black;
}

body {
    background-color: var(--cinzaClaro);

    margin: 0%;

    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: space-around;

}

header{
    background-color: var(--preto);
    width: 100vw;
    height: 150px;

    position: fixed;
    top:0;
    left: 0;
}
 #imgTitulo {
    width: 150px;
 }

 main{
    padding-top: 180px;
 }